extends layout

block content
  div(style={position: 'absolute','top':'30%','left':'90px','z-index':2,'min-width':'400px','min-height':'100px',border:'2px dashed gray','border-radius':'10px',padding:'10px'})
     i 你的IP：!{connect.ip}
     br
     i 你使用的设备：!{connect.device}
     br
     i 你所在的位置和网络：!{connect.addr}
  div(style={width:'100%',height:'100%','text-align':'center','font-size':'20px',color:'#0813c6'}) 赛讯在线检测网站IPV6访问
  br
  br
  div(style={width:'100%',height:'100%','text-align':'center'})
    input.demok3_input(style={height: '30px',width:'500px'},id ='domain',placeholder='如：www.cyberex.com.cn')
    a.demok3_a(style={height: '32px','margin-left':'2px'},id='submit') 分析
  div(style={'margin-top':'20px','text-align':'center'},id='content')
  table(id='table',style={'text-align':'center',width:'70%','margin-left':'18%'})
      thead
        tr
            th(data-field='id') ID
            th(data-field='name') Item Name
            th(data-field='price') Item Price

  div.login-footer
      h4 广州赛讯信息技术有限公司
      h4 Copyright(c) 2018-2020 GuangZhou CyberEX Co.Ltd, All rights reserved
  script.
     var $table = $('#table')
     $(function () {
         var data = [
             {
                 'id': 0,
                 'name': 'Item 0',
                 'price': '$0'
             },
             {
                 'id': 1,
                 'name': 'Item 1',
                 'price': '$1'
             },
             {
                 'id': 2,
                 'name': 'Item 2',
                 'price': '$2'
             }
         ]
         $table.bootstrapTable({data: data})

     })
     $('#submit').on('click',function () {
         if (!$('#domain').val()) {
             $('#content').html('<p style="color: red">请输入域名！</p>');
             return;
         }
         $.post(
             '/checkV6',
              {domain:$('#domain').val()},
              function (result) {
                    $('#content').html('');
                    if (!result.state){
                        $('#content').html('<p style="color: red">输入的地址有误！</p>');
                    }else {
                        if (result.v4http=='success'){
                            $('#content').append('<br/><p style="color: green">http ipv4 </p><i style="color: green">√</i>');
                        }else {
                            $('#content').append('<br/><p style="color: red">http ipv4 </p><i style="color: red">x</i>');
                        }
                        if (result.v4https == 'success') {
                            $('#content').append('<br/><p style="color: green">https ipv4 </p><i style="color: green">√</i>');
                        } else {
                            $('#content').append('<br/><p style="color: red">https ipv4 </p><i style="color: red">x</i>');
                        }
                        if (result.supportV6) {
                            $('#content').append('<br/><p style="color: green">网址支持IPV6访问 </p><i style="color: green">√</i>');
                            if (result.v6http == 'success') {
                                $('#content').append('<br/><p style="color: green">http ipv6 </p><i style="color: green">√</i>');
                            } else {
                                $('#content').append('<br/><p style="color: red">http ipv6 </p><i style="color: red">x</i>');
                            }
                            if (result.v6https == 'success') {
                                $('#content').append('<br/><p style="color: green">https ipv6 </p><i style="color: green">√</i>');
                            } else {
                                $('#content').append('<br/><p style="color: red">https ipv6 </p><i style="color: red">x</i>');
                            }
                        }else {
                            $('#content').append('<br/><p style="color: red">网址不支持IPV6访问</p><i style="color: red">x</i>');
                        }
                        if (result.score){
                            $('#content').append('<br/><p style="color: green">评分：'+result.score+' </p>');
                        }
                    }
              }
             )
     })



