doctype html
html
  head
    title= 'IPv6在线测试'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-table.min.css')
    script(src='/javascript/jquery-3.3.1.min.js')
    script(src='/javascript/bootstrap-table.min.js')
  body
    block content
